{% load static %}

<html>
    
    {% include "./head.html" %}

    <body class="container-background">
       
        <div class="container text-white">
            
            {% block header %}
                {% include "./components/header.html" %}
            {% endblock %}

            <main class="container text-center text-white">
                {% block content %}
                {% endblock %}
            </main>   
       
            {% include "./components/footer.html" %}

        </div>

        <script src="/static/js/bootstrap.min.js"></script>

    </body>

</html>