

    {% for i in range_add_slots %}

        <div class="form-group row row-gap-2 gap-4 pt-3 fw-bold">
        
                <div class="col-3 p-2 text-center fs-4 bg-white text-black rounded border border-black border-4">
                    {{schedule.slots.all.last.time|date:'H:i'}}
                </div>
        
                <div class="col p-0 input-group">

                        <input  type="text"
                        class="form-control text-center fs-4 fw-bold text-black border border-black border-4"
                        placeholder="Name"
                        aria-label="Name"
                        aria-describedby="basic-addon1"
                        value="{{schedule.name}}"
                        >

                        <button class="btn btn-dark text-info fw-bold"
                                type="button"
                                onclick="()=>{
                                        fetch('tst')
                                }"
                        >
                        SAVE
                        </button>
                </div>


        </div>
    {% endfor %}

