<div class="form-group">
<a href="/{{schedule}}" role="button">
go to schedule
    <div class="input-group mb-3">
      <input  type="text"
              class="form-control text-center col-3"
              placeholder="Date"
              aria-label="Date"
              aria-describedby="basic-addon1"
              value="{{schedule.start_time|date:'Y-m-d'}}"
              disabled
              >

      <input  type="text"
              class="form-control text-center"
              placeholder="Start"
              aria-label="Start"
              aria-describedby="basic-addon1"
              value="{{schedule.start_time|date:'H:i'}}"
              disabled
              >
    </div>
</a>
</div>